@charset "UTF-8";

$is-hover-underline:          false !default;
$underline-color:             $link-color !default;
$underline-position:          top 100% right 0 !default;

$underline-transform:         scaleX(0) !default;
$underline-transform-origin:  50% !default;
$underline-transform-hover:   scaleX(1) !default;
$underline-transition:        'transform .35s ease-out, background .4s' !default;

$is-hover-slip:               false !default;


@if $is-hover-underline {
    .hover-underline {
        position: relative;

        @include el(before) {
            height: 1px; width: 100%;
            background: $underline-color;
            @include absolute($underline-position);
            @include transition($underline-transition);
            @include transform($underline-transform);
            @include prefix(transform-origin, $underline-transform-origin);
        }

        &:hover, &:active {
            &::before {
                @include transform($underline-transform-hover);
            }
        }
    }
}

@if $is-hover-slip {
    .hover-slip {
        position: relative;
        overflow: hidden;

        @include el(before) {
            @include absolute(top 0 left 0);
            @include size(100%);
            @include transition(transform .6s);
            @include transform(scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-200%,0));
            background: rgba(255,255,255,0.5);
        }

        &:hover::before {
            @include transform(scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,200%,0));
        }
    }
}